@import url(reset.css);
/* line 12, style.scss */
html,
body,
.contenter {
  width: 100%;
  height: 100%;
  background: none; }

/* line 17, style.scss */
html {
  font-size: 62.5%; }

/* line 20, style.scss */
.contenter {
  display: -webkit-flex;
  display: flex;
  flex-direction: column; }
  /* line 22, style.scss */
  .contenter header {
    width: 100%;
    height: 10.4rem;
    background: #4194f0;
    display: -webkit-flex;
    display: flex;
    flex-direction: column; }
    /* line 25, style.scss */
    .contenter header .head_top {
      width: 100%;
      height: 4rem;
      background: none;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      text-align: center; }
      /* line 29, style.scss */
      .contenter header .head_top span {
        display: block;
        width: 5.5rem;
        height: 100%;
        background: none;
        line-height: 4rem; }
        /* line 33, style.scss */
        .contenter header .head_top span img {
          margin-top: 12px;
          width: auto;
          height: 2rem;
          background: none; }
      /* line 38, style.scss */
      .contenter header .head_top h1 {
        flex: 1;
        line-height: 4rem;
        color: white;
        font-size: 1.4rem; }
    /* line 45, style.scss */
    .contenter header .head_dl {
      width: 100%;
      height: 5.4rem;
      background: none;
      padding-left: 1.5rem;
      padding-right: 0.9rem;
      box-sizing: border-box;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      position: relative; }
      /* line 52, style.scss */
      .contenter header .head_dl dl {
        display: -webkit-flex;
        display: flex;
        flex-direction: row; }
        /* line 55, style.scss */
        .contenter header .head_dl dl dt img {
          width: 5.3rem;
          height: auto;
          background: none; }
        /* line 60, style.scss */
        .contenter header .head_dl dl dd img {
          margin-top: 6px;
          width: auto;
          height: 1.5rem;
          background: #4194f0;
          padding-left: 8px; }
        /* line 65, style.scss */
        .contenter header .head_dl dl dd h1 {
          margin-top: 8px;
          color: white;
          font-size: 14px; }
          /* line 69, style.scss */
          .contenter header .head_dl dl dd h1 span {
            padding-left: 8px; }
      /* line 75, style.scss */
      .contenter header .head_dl .img_1 {
        position: absolute;
        right: 10px;
        width: 1.8rem;
        height: auto;
        background: none; }
  /* line 82, style.scss */
  .contenter section {
    flex: 1;
    overflow-y: auto; }
    /* line 85, style.scss */
    .contenter section::-webkit-scrollbar {
      width: 0; }
    /* line 88, style.scss */
    .contenter section nav {
      width: 100%;
      height: 3.3rem;
      background: none;
      border-bottom: 1px solid #cccccc;
      box-sizing: border-box; }
      /* line 92, style.scss */
      .contenter section nav ul {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        position: relative; }
        /* line 95, style.scss */
        .contenter section nav ul li {
          flex: 1;
          text-align: center;
          line-height: 3.3rem;
          font-size: 14px; }
        /* line 101, style.scss */
        .contenter section nav ul .li_color {
          color: #539cf1;
          border-bottom: 2px solid #648ab9;
          box-sizing: border-box; }
    /* line 108, style.scss */
    .contenter section .shop_fen {
      width: 100%;
      height: auto;
      background: none;
      overflow: hidden; }
      /* line 112, style.scss */
      .contenter section .shop_fen > div {
        display: none; }
        /* line 114, style.scss */
        .contenter section .shop_fen > div:nth-child(1) {
          display: block; }
      /* line 118, style.scss */
      .contenter section .shop_fen .sect_main {
        width: 100%;
        height: auto;
        background: none; }
        /* line 120, style.scss */
        .contenter section .shop_fen .sect_main .sect_shop {
          width: 100%;
          height: auto;
          background: none;
          display: -webkit-flex;
          display: flex;
          flex-direction: row; }
          /* line 123, style.scss */
          .contenter section .shop_fen .sect_main .sect_shop .sect_left {
            flex: 1;
            width: 100%;
            height: auto;
            background: none; }
            /* line 126, style.scss */
            .contenter section .shop_fen .sect_main .sect_shop .sect_left ul {
              width: 100%;
              height: auto;
              background: none;
              overflow-y: auto; }
              /* line 129, style.scss */
              .contenter section .shop_fen .sect_main .sect_shop .sect_left ul::-webkit-scrollbar {
                width: 0; }
              /* line 132, style.scss */
              .contenter section .shop_fen .sect_main .sect_shop .sect_left ul li {
                display: block;
                width: 100%;
                height: 5.1rem;
                background: #f5f5f5;
                border-bottom: 1px solid #eaeaea;
                box-sizing: border-box;
                border-right: 1px solid #eeeeee;
                text-align: center;
                padding-top: 18px;
                color: #666666; }
                /* line 141, style.scss */
                .contenter section .shop_fen .sect_main .sect_shop .sect_left ul li:nth-child(2) {
                  padding-left: 13px;
                  padding-right: 10px;
                  padding-top: 25px;
                  width: 100%;
                  height: 7.2rem;
                  background: #f5f5f5; }
                /* line 147, style.scss */
                .contenter section .shop_fen .sect_main .sect_shop .sect_left ul li img {
                  width: 5rem;
                  height: auto;
                  background: none; }
              /* line 151, style.scss */
              .contenter section .shop_fen .sect_main .sect_shop .sect_left ul .li_one {
                background: white;
                color: #4194f0; }
          /* line 157, style.scss */
          .contenter section .shop_fen .sect_main .sect_shop .sec_right {
            flex: 3;
            width: 7rem;
            height: auto;
            background: none; }
            /* line 160, style.scss */
            .contenter section .shop_fen .sect_main .sect_shop .sec_right .nav_one {
              border-left: 5px solid #d8d8d8;
              box-sizing: border-box;
              width: 100%;
              height: 3.3rem;
              background: #f5f5f5;
              overflow: hidden;
              display: -webkit-flex;
              display: flex;
              flex-direction: row; }
              /* line 166, style.scss */
              .contenter section .shop_fen .sect_main .sect_shop .sec_right .nav_one ul {
                padding-left: 10px; }
                /* line 168, style.scss */
                .contenter section .shop_fen .sect_main .sect_shop .sec_right .nav_one ul li {
                  flex: 1;
                  display: block;
                  width: 45px;
                  height: 22px;
                  background: none;
                  border: 1px solid #9e9e9e;
                  border-radius: 20px;
                  text-align: center;
                  line-height: 22px;
                  margin-top: 10px; }
                /* line 178, style.scss */
                .contenter section .shop_fen .sect_main .sect_shop .sec_right .nav_one ul .swip_colo {
                  background: #4194f0;
                  color: white; }
            /* line 184, style.scss */
            .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter {
              padding: 1rem 1rem 0;
              box-sizing: border-box;
              position: relative;
              overflow-y: auto; }
              /* line 189, style.scss */
              .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter::-webkit-scrollbar {
                width: 0; }
              /* line 192, style.scss */
              .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .img_2 {
                position: absolute;
                left: 0;
                top: 0;
                width: 29px;
                height: auto;
                background: none; }
              /* line 198, style.scss */
              .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one {
                width: 100%;
                height: 7.5rem;
                background: none;
                border-bottom: 1px solid #eeeeee;
                position: relative; }
                /* line 202, style.scss */
                .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one dl {
                  display: -webkit-flex;
                  display: flex;
                  flex-direction: row; }
                  /* line 204, style.scss */
                  .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one dl img {
                    width: 5.2rem;
                    height: auto;
                    background: none; }
                  /* line 207, style.scss */
                  .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one dl dd {
                    padding-left: 8px; }
                    /* line 209, style.scss */
                    .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one dl dd h1 {
                      font-size: 12px;
                      font-weight: 450;
                      color: #333333; }
                    /* line 214, style.scss */
                    .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one dl dd .span_img1 {
                      display: block;
                      margin-top: 6px; }
                    /* line 218, style.scss */
                    .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one dl dd h2 {
                      margin-top: 6PX;
                      color: #ff5a64; }
                      /* line 221, style.scss */
                      .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one dl dd h2 span {
                        text-decoration: line-through;
                        color: #c8c8c8;
                        padding-left: 5px; }
                /* line 230, style.scss */
                .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one p img {
                  margin-top: 3px;
                  width: 14rem;
                  height: auto;
                  background: none; }
                /* line 235, style.scss */
                .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one .img_one {
                  position: absolute;
                  right: 0;
                  bottom: 23px; }
                  /* line 239, style.scss */
                  .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one .img_one img {
                    width: 20px;
                    height: auto;
                    background: none;
                    vertical-align: middle; }
                  /* line 243, style.scss */
                  .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_one .img_one span {
                    padding-left: 5px;
                    padding-right: 5px; }
              /* line 249, style.scss */
              .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_two {
                width: 100%;
                height: 7rem;
                background: none;
                border-bottom: 1px solid #eeeeee;
                padding-top: 1rem;
                box-sizing: border-box;
                position: relative; }
                /* line 255, style.scss */
                .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_two dl {
                  display: -webkit-flex;
                  display: flex;
                  flex-direction: row; }
                  /* line 257, style.scss */
                  .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_two dl img {
                    width: 5.2rem;
                    height: auto;
                    background: none; }
                  /* line 260, style.scss */
                  .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_two dl dd {
                    padding-left: 8px; }
                    /* line 262, style.scss */
                    .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_two dl dd h1 {
                      font-size: 12px;
                      font-weight: 450;
                      color: #333333; }
                    /* line 267, style.scss */
                    .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_two dl dd .span_img1 {
                      display: block;
                      margin-top: 6px; }
                    /* line 271, style.scss */
                    .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_two dl dd h2 {
                      margin-top: 6PX;
                      color: #ff5a64; }
                /* line 277, style.scss */
                .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_two p {
                  position: absolute;
                  right: 0;
                  bottom: 5px; }
                  /* line 281, style.scss */
                  .contenter section .shop_fen .sect_main .sect_shop .sec_right .counter .shop_two p img {
                    width: 20px;
                    height: auto;
                    background: none; }
      /* line 290, style.scss */
      .contenter section .shop_fen .xiang_qing {
        width: 100%;
        height: auto;
        background: none; }
        /* line 292, style.scss */
        .contenter section .shop_fen .xiang_qing hr {
          border: none;
          width: 100%;
          height: 10px;
          background: #f1f5f8; }
        /* line 296, style.scss */
        .contenter section .shop_fen .xiang_qing .xiang_top {
          width: 100%;
          height: auto;
          background: white;
          padding: 0px 10px 0 10px;
          box-sizing: border-box; }
          /* line 300, style.scss */
          .contenter section .shop_fen .xiang_qing .xiang_top .p_one {
            width: 100%;
            height: 4rem;
            background: none;
            border-bottom: 1px solid #C0C0C0;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 4rem; }
            /* line 306, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_top .p_one img {
              vertical-align: middle;
              padding-right: 5px;
              width: 5px;
              height: auto;
              background: none; }
          /* line 312, style.scss */
          .contenter section .shop_fen .xiang_qing .xiang_top .p_two {
            margin-top: 8px;
            width: 100%;
            height: 5rem;
            background: none;
            font-size: 14px;
            color: #686868; }
        /* line 319, style.scss */
        .contenter section .shop_fen .xiang_qing .xiang_cent {
          width: 100%;
          height: auto;
          background: none;
          padding: 0px 10px 0 10px;
          box-sizing: border-box; }
          /* line 324, style.scss */
          .contenter section .shop_fen .xiang_qing .xiang_cent ul li {
            display: block;
            width: 100%;
            height: 4rem;
            background: none;
            font-size: 14px;
            line-height: 4rem;
            color: #686868; }
            /* line 330, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_cent ul li img {
              vertical-align: middle;
              padding-right: 5px;
              width: 5px;
              height: auto;
              background: none; }
            /* line 336, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_cent ul li:nth-child(1) {
              border-bottom: 1px solid #C0C0C0;
              box-sizing: border-box; }
            /* line 341, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_cent ul li:nth-child(2) {
              border-bottom: 1px solid #C0C0C0;
              box-sizing: border-box; }
            /* line 345, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_cent ul li span {
              padding-right: 10px; }
        /* line 351, style.scss */
        .contenter section .shop_fen .xiang_qing .xiang_bot {
          width: 100%;
          height: auto;
          background: none;
          padding: 0px 10px 0 10px;
          box-sizing: border-box; }
          /* line 356, style.scss */
          .contenter section .shop_fen .xiang_qing .xiang_bot ul li {
            display: block;
            font-size: 14px; }
            /* line 359, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_bot ul li img {
              vertical-align: middle;
              padding-right: 5px;
              width: 5px;
              height: auto;
              background: none; }
            /* line 365, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_bot ul li:nth-child(1) {
              width: 100%;
              height: 4rem;
              background: none;
              border-bottom: 1px solid #C0C0C0;
              line-height: 4rem; }
            /* line 370, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_bot ul li:nth-child(2) {
              margin-top: 8px;
              width: 100%;
              height: 4.2rem;
              background: none;
              border-bottom: 1px solid #C0C0C0;
              color: #686868; }
            /* line 376, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_bot ul li:nth-child(3) {
              line-height: 4.2rem;
              width: 100%;
              height: 4.2rem;
              background: none;
              border-bottom: 1px solid #C0C0C0;
              color: #686868; }
            /* line 382, style.scss */
            .contenter section .shop_fen .xiang_qing .xiang_bot ul li:nth-child(4) {
              line-height: 4.2rem;
              width: 100%;
              height: 4.2rem;
              background: none;
              color: #686868; }
      /* line 391, style.scss */
      .contenter section .shop_fen .pinglun {
        width: 100%;
        height: auto;
        background: none; }
        /* line 393, style.scss */
        .contenter section .shop_fen .pinglun .ping_title {
          width: 100%;
          height: 6.5rem;
          background: none;
          display: -webkit-flex;
          display: flex;
          flex-direction: row; }
          /* line 397, style.scss */
          .contenter section .shop_fen .pinglun .ping_title .ul_one {
            width: 11rem;
            height: 100% s;
            background: none;
            text-align: center; }
            /* line 401, style.scss */
            .contenter section .shop_fen .pinglun .ping_title .ul_one li:nth-child(1) {
              color: #ffc542;
              font-size: 14px;
              text-align: center;
              margin-top: 10px; }
          /* line 409, style.scss */
          .contenter section .shop_fen .pinglun .ping_title .pin {
            width: 3px;
            height: 5rem;
            background: none;
            margin-top: 6px; }
          /* line 413, style.scss */
          .contenter section .shop_fen .pinglun .ping_title .ul_two {
            flex: 1;
            text-align: center; }
            /* line 416, style.scss */
            .contenter section .shop_fen .pinglun .ping_title .ul_two li {
              margin-top: 15px; }
            /* line 419, style.scss */
            .contenter section .shop_fen .pinglun .ping_title .ul_two img {
              padding-left: 5px;
              width: auto;
              height: 14px;
              background: none;
              vertical-align: middle; }
        /* line 426, style.scss */
        .contenter section .shop_fen .pinglun hr {
          border: none;
          width: 100%;
          height: 10px;
          background: #f1f5f8; }
        /* line 430, style.scss */
        .contenter section .shop_fen .pinglun .porple {
          width: 100%;
          height: auto;
          background: none;
          padding: 0px 10px 0 10px;
          box-sizing: border-box; }
          /* line 434, style.scss */
          .contenter section .shop_fen .pinglun .porple .por_one {
            width: 100%;
            height: 7rem;
            background: none;
            border-bottom: 1px solid #C0C0C0; }
            /* line 437, style.scss */
            .contenter section .shop_fen .pinglun .porple .por_one dl {
              margin-top: 10px;
              float: left;
              display: -webkit-flex;
              display: flex;
              flex-direction: row; }
              /* line 442, style.scss */
              .contenter section .shop_fen .pinglun .porple .por_one dl dt img {
                width: 3rem;
                height: auto;
                background: none; }
              /* line 446, style.scss */
              .contenter section .shop_fen .pinglun .porple .por_one dl dd {
                padding-left: 10px; }
                /* line 448, style.scss */
                .contenter section .shop_fen .pinglun .porple .por_one dl dd img {
                  margin-top: 5px;
                  width: auto;
                  height: 15px;
                  background: none; }
            /* line 454, style.scss */
            .contenter section .shop_fen .pinglun .porple .por_one p {
              float: right;
              margin-top: 10px;
              color: #9f9f9f; }
              /* line 458, style.scss */
              .contenter section .shop_fen .pinglun .porple .por_one p span {
                padding-left: 10px; }

/* line 468, style.scss */
.zhe_img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #434343;
  display: none;
  opacity: 0.5; }

/* line 477, style.scss */
.car_on {
  z-index: 99;
  width: 100%;
  height: auto;
  background: white;
  position: absolute;
  bottom: 0;
  display: none; }
  /* line 483, style.scss */
  .car_on .zhe_title {
    width: 100%;
    height: 35px;
    background: #eeeeee;
    padding: 0 10px;
    box-sizing: border-box; }
    /* line 487, style.scss */
    .car_on .zhe_title h1 {
      float: left;
      line-height: 35px; }
    /* line 491, style.scss */
    .car_on .zhe_title h2 {
      float: right;
      line-height: 35px; }
  /* line 496, style.scss */
  .car_on .div_shop {
    padding: 0 10px;
    box-sizing: border-box; }
    /* line 499, style.scss */
    .car_on .div_shop .dl_shop {
      width: 100%;
      height: 70px;
      background: none;
      border-bottom: 1px solid #ededed;
      position: relative; }
      /* line 503, style.scss */
      .car_on .div_shop .dl_shop .xuanz {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 18px;
        height: auto;
        background: none; }
      /* line 509, style.scss */
      .car_on .div_shop .dl_shop dl {
        margin-left: 30px;
        display: -webkit-flex;
        display: flex;
        flex-direction: row; }
        /* line 513, style.scss */
        .car_on .div_shop .dl_shop dl dt img {
          margin-top: 13px;
          width: 45px;
          height: auto;
          background: none; }
        /* line 518, style.scss */
        .car_on .div_shop .dl_shop dl h1 {
          padding-left: 10px;
          line-height: 70px; }
          /* line 521, style.scss */
          .car_on .div_shop .dl_shop dl h1 span {
            padding-left: 5px;
            color: #FF5A64; }
      /* line 527, style.scss */
      .car_on .div_shop .dl_shop .num_jia {
        position: absolute;
        right: 0;
        bottom: 20px; }
        /* line 531, style.scss */
        .car_on .div_shop .dl_shop .num_jia img {
          width: 20px;
          height: auto;
          background: none;
          vertical-align: middle; }
        /* line 535, style.scss */
        .car_on .div_shop .dl_shop .num_jia span {
          padding-left: 5px;
          padding-right: 5px; }
  /* line 542, style.scss */
  .car_on .shop_car {
    width: 100%;
    height: 45px;
    background: none;
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: row; }
    /* line 546, style.scss */
    .car_on .shop_car .toum {
      width: 100%;
      height: 45px;
      background: black;
      flex: 1;
      opacity: 0.5; }
      /* line 550, style.scss */
      .car_on .shop_car .toum .car {
        position: absolute;
        top: -14px;
        left: 10px;
        width: 51px;
        height: auto;
        background: none; }
      /* line 556, style.scss */
      .car_on .shop_car .toum span {
        margin-left: 70px;
        color: white;
        line-height: 45px; }
    /* line 562, style.scss */
    .car_on .shop_car button {
      float: right;
      width: 115px;
      height: 100%;
      background: #ff8c50;
      border: none; }

/* line 569, style.scss */
.yinliao {
  width: 23.1rem;
  height: 30.1rem;
  background: white;
  display: none;
  position: absolute;
  left: 10%;
  top: 20%;
  z-index: 99; }
  /* line 576, style.scss */
  .yinliao .tu_img3 {
    width: 100%;
    height: 24.5rem;
    background: none;
    border-bottom: 1px solid #C0C0C0;
    z-index: 1; }
    /* line 580, style.scss */
    .yinliao .tu_img3 .guan {
      float: right;
      padding-right: 10px;
      padding-top: 10px;
      width: 25px;
      height: auto;
      background: none; }
    /* line 586, style.scss */
    .yinliao .tu_img3 .ig_img {
      width: auto;
      height: 22.1rem;
      background: none;
      padding-left: 40px;
      padding-top: 20px; }
  /* line 592, style.scss */
  .yinliao p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 30px; }

/*# sourceMappingURL=style.css.map */
